{% extends "base.html" %}
{% load blog_extras %}

{% block content %}


<section class="section section-alt">
                <div class="row-fluid">
                                    
                <!-- START REVOLUTION SLIDER 2.3.91 -->
                
                                
                <!--link rel='stylesheet' id='rev-google-font' href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700' type='text/css' media='all' /-->
                    <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0 auto;background-color:#E9E9E9;padding:0;margin-top:0;margin-bottom:0;max-height:300px;">
                    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner" style="display:none;max-height:300px;height:300px;">
                        <ul>
                            <li data-transition="fade" data-slotamount="5" data-masterspeed="400" >
                                <img src="/static/cpoclub/img/slide2-1250x300.png"  alt="landscape-2-1250x420" data-fullwidthcentering="on">
                                <div class="tp-caption huge_text lft stb"
                                     data-x="220"
                                     data-y="30"
                                     data-speed="700"
                                     data-start="800"
                                     data-easing="easeOutExpo" data-end="4000" data-endspeed="700" >УЧАСТНИКИ</div>
                                <div class="tp-caption huge_text lfb stt"
                                     data-x="660"
                                     data-y="30"
                                     data-speed="700"
                                     data-start="800"
                                     data-easing="easeOutExpo" data-end="4000" data-endspeed="700" ><span class="light_text">ПРОЕКТА</span></div>
                                <div class="tp-caption medium_white sfl stl"  
                                     data-x="353" 
                                     data-y="115" 
                                     data-speed="700" 
                                     data-start="1200" 
                                     data-easing="easeOutExpo" data-end="3600" data-endspeed="700" >директора по закупкам</div>
                                <div class="tp-caption medium_white sfl stl"  
                                     data-x="314"
                                     data-y="161"
                                     data-speed="700"
                                     data-start="1400"
                                     data-easing="easeOutExpo" data-end="3800" data-endspeed="700" >ведущие компании России</div>
                                <!--div class="tp-caption medium_white sfl stl"  
                                     data-x="357" 
                                     data-y="207" 
                                     data-speed="700" 
                                     data-start="1600" 
                                     data-easing="easeOutExpo" data-end="4000" data-endspeed="700" >RETINA READY</div-->
                            </li>
                            <li data-transition="fade" data-slotamount="5" data-masterspeed="400" >
                                <img src="/static/cpoclub/img/slide1-1250x300.png"  alt="landscape-3-1250x420" data-fullwidthcentering="on">
                                <div class="tp-caption huge_text sfl stl"
                                     data-x="270"
                                     data-y="30"
                                     data-speed="700"
                                     data-start="800"
                                     data-easing="easeOutExpo" data-end="4300" data-endspeed="400" >ДЕЛОВОЕ</div>
                                <div class="tp-caption huge_text sfr str"
                                     data-x="630"
                                     data-y="30"
                                     data-speed="700"
                                     data-start="800"
                                     data-easing="easeOutExpo" data-end="4300" data-endspeed="400" ><span class="light_text">ОБЩЕНИЕ</span></div>
                                <div class="tp-caption medium_white sfl stl"  
                                    data-x="287" 
                                    data-y="115" 
                                    data-speed="700" 
                                    data-start="1200" 
                                    data-easing="easeOutExpo" data-end="3600" data-endspeed="700" >отраслевые конференции</div>
                                <div class="tp-caption medium_white sfl stl"  
                                    data-x="415" 
                                    data-y="161" 
                                    data-speed="700" 
                                    data-start="1400" 
                                    data-easing="easeOutExpo" data-end="3800" data-endspeed="700" >круглые столы</div>
                                <div class="tp-caption medium_white sfl stl"  
                                    data-x="273" 
                                    data-y="207" 
                                    data-speed="700" 
                                    data-start="1600" 
                                    data-easing="easeOutExpo" data-end="4000" data-endspeed="700" >премия "ЗАКУПЩИК ГОДА"</div>
                            </li>
                            <li data-transition="fade" data-slotamount="5" data-masterspeed="400" >
                                <img src="/static/cpoclub/img/slide3-1250x300.png"  alt="revolution" data-fullwidthcentering="on">
                                <div class="tp-caption huge_text lft stb"
                                     data-x="300"
                                     data-y="30"
                                     data-speed="700"
                                     data-start="1200"
                                     data-easing="easeOutExpo" data-end="4000" data-endspeed="700" >СВЕЖАЯ</div>
                                <div class="tp-caption huge_text lfb stt"
                                     data-x="610"
                                     data-y="30"
                                     data-speed="700"
                                     data-start="1200"
                                     data-easing="easeOutExpo" data-end="4000" data-endspeed="700" ><span class="light_text">АНАЛИТИКА</span></div>
                                <div class="tp-caption medium_white sfl stl"  
                                    data-x="285" 
                                    data-y="115" 
                                    data-speed="700" 
                                    data-start="1200" 
                                    data-easing="easeOutExpo" data-end="3600" data-endspeed="700" >индивидуальный доступ</div>
                                <div class="tp-caption medium_white sfl stl"  
                                    data-x="263" 
                                    data-y="161" 
                                    data-speed="700" 
                                    data-start="1400" 
                                    data-easing="easeOutExpo" data-end="3800" data-endspeed="700" >эксклюзивные материалы</div>
                                <div class="tp-caption medium_white sfl stl"  
                                    data-x="184" 
                                    data-y="207" 
                                    data-speed="700" 
                                    data-start="1600" 
                                    data-easing="easeOutExpo" data-end="4000" data-endspeed="700" >прогнозы экспертов по закупкам</div>
                            </li>
                        </ul>
                        <div class="tp-bannertimer"></div>
                    </div>
                </div>              

            <script type="text/javascript">

                var tpj=jQuery;
                tpj.noConflict();
                var revapi1;
                tpj(document).ready(function() {
                    if (tpj.fn.cssOriginal != undefined)
                        tpj.fn.css = tpj.fn.cssOriginal;
                    
                    if(tpj('#rev_slider_1_1').revolution == undefined)
                        revslider_showDoubleJqueryError('#rev_slider_1_1');
                    else
                       revapi1 = tpj('#rev_slider_1_1').show().revolution(
                        {
                            delay:5000,
                            startwidth:1250,
                            startheight:300,
                            hideThumbs:200,
                            
                            thumbWidth:100,
                            thumbHeight:50,
                            thumbAmount:3,
                            
                            navigationType:"both",
                            navigationArrows:"solo",
                            navigationStyle:"round-old",
                            
                            touchenabled:"on",
                            onHoverStop:"off",
                            
                            navigationHAlign:"center",
                            navigationVAlign:"bottom",
                            navigationHOffset:0,
                            navigationVOffset:20,

                            soloArrowLeftHalign:"left",
                            soloArrowLeftValign:"center",
                            soloArrowLeftHOffset:20,
                            soloArrowLeftVOffset:0,

                            soloArrowRightHalign:"right",
                            soloArrowRightValign:"center",
                            soloArrowRightHOffset:20,
                            soloArrowRightVOffset:0,
                                    
                            shadow:0,
                            fullWidth:"on",

                            stopLoop:"off",
                            stopAfterLoops:-1,
                            stopAtSlide:-1,

                            shuffle:"off",
                            
                            hideSliderAtLimit:0,
                            hideCaptionAtLimit:0,
                            hideAllCaptionAtLilmit:0,
                            startWithSlide:0    
                        });
                
                }); //ready
                
            </script>
            
                            <!-- END REVOLUTION SLIDER -->
                                </div>
            </section>
            <article id="post-10"  class="post-10 page type-page status-publish hentry">
     <section class="section section-padded ">
         <div class="container-fluid">
             <!--div class="section-header">
                 <h1>Описание <span class="light">проекта</span></h1>
             </div-->
             <div class="row-fluid">
                 <ul class="unstyled row-fluid project-description">

                     <li class="span3">
                         <div class="round-box round-medium ">
                            <a href="/?oxy_service=web-applications" class="box-inner">
                                <img width="300" height="300" src="/static/cpoclub/img/gray-300x300.png" class="img-circle wp-post-image" alt="Web Applications">
                            </a>
                            <i class="ico-logo"></i>
                        </div>
                        <a href="/?oxy_service=web-applications"><h3 class="text-center text-red">Клуб</h3></a>
                        <p></p><p>«Клуб закупщиков» - это современная платформа для делового общения и обмена опытом профессионалов в области закупок.</p>
                        <a href="#" class="blue-underline">Подробнее</a>
                     </li>

                     <li class="span3">
                         <div class="round-box round-medium ">
                             <a href="#" class="box-inner">
                                 <img width="300" height="300" src="/static/cpoclub/img/gray-300x300.png" class="img-circle wp-post-image" alt="Web Applications">
                             </a>
                             <i class="ico-members"></i>
                         </div>
                         <a href="#"><h3 class="text-center text-blue">Участники</h3></a>
                         <p></p><p>Участники Клуба – менеджеры по закупкам ведущих российских компаний, творческие, целеустремлённые люди, стремящиеся к собственному профессиональному развитию.</p>
                         <p></p><a href="#" class="red-underline">Подробнее</a>
                     </li>

                     <li class="span3">
                         <div class="round-box round-medium ">
                             <a href="#" class="box-inner">
                                 <img width="300" height="300" src="/static/cpoclub/img/gray-300x300.png" class="img-circle wp-post-image" alt="Web Applications">
                             </a>
                             <i class="ico-events"></i>
                         </div>
                         <a href="#"><h3 class="text-center text-red">События</h3></a>
                         <p></p><p>Клуб закупщиков регулярно проводит экспертные круглые столы и конференции, посвящённые насущным проблемам и главным тенденциям в области корпоративных закупок.</p>
                         <a href="#" class="blue-underline">Подробнее</a>
                     </li>

                     <li class="span3">
                         <div class="round-box round-medium ">
                             <a href="#" class="box-inner">
                                 <img width="300" height="300" src="/static/cpoclub/img/gray-300x300.png" class="img-circle wp-post-image" alt="Web Applications">
                             </a>
                             <i class="ico-piechart"></i>
                         </div>
                         <a href="#"><h3 class="text-center text-blue">Аналитика</h3></a>
                         <p></p><p>В распоряжении членов Клуба находится обширная библиотека эксклюзивных аналитических материалов, посвящённых закупочной деятельности.</p>
                         <a href="#" class="red-underline">Подробнее</a>
                     </li>


                 </ul></div></div></section>
<section class="section section-padded section-alt "><div class="container-fluid"><div class="section-header"><h1>Темы <span class="light">дискуссий</span></h1></div><div class="row-fluid">
    <div class="span6">
        <ul class="icons ico-logo-small">
            <li>Планирование закупок и заявочная кампания</li>
            <li>Централизация или распределение</li>
            <li>Организационные модели закупочных подразделений</li>
            <li>Закупка нестратегических категорий (indirect procurement)</li>
            <li>Тендеры или прямые заказы (PO)</li>
            <li>Законодательное регулирование закупок (223-Фз, 44-ФЗ и др.)</li>
            <li>Антимонопольное регулирование и закупки (135-ФЗ)</li>
            <li>Электронный документооборот с контрагентами</li>
            <li>Системы автоматизации закупок</li>
        </ul>
    </div>
    <div class="span6">
        <ul class="icons ico-logo-small">
            <li>Финансирование цепочки поставок</li>
            <li>Управление циклом контрагента (SLM)</li>
            <li>Стандарты в области закупочной деятельности (ISO)</li>
            <li>Управление нормативно-справочной информацией (НСИ)</li>
            <li>Управление рисками на контрагентов</li>
            <li>Управление жизненным циклом контракта (CLM)</li>
            <li>Анализ затрат – построение модели бизнес-аналитики</li>
            <li>Закупки НИОКР</li>
            <li>Закупки по методике оценки совокупной стоимости владения</li>
        </ul>
    </div>
    </div></div>
</section>

{% latest_rec_index %}

{% include "sponsors.html" %}


</article>
{% endblock %}

