{% extends "base.html" %}
{% load thumbnail %}

{% block content %}
    <div class="row-fluid divider-line"></div>  

    <article class=" page type-page status-publish hentry">
         <section class="section section-padded ">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="row-fluid">
                    
                        <ul class="thumbnails portfolio members">
                            {% for object in object_list %}
                                <li class=" span4 filter-forest">
                                    <div class="round-box box-big ">
                                        <a class="box-inner" href="{% url 'user_detail' object.pk %}">
                                        {% if object.profile.avatar %}
                                            <img alt="" src="{% thumbnail object.profile.avatar 300x300 crop %}" class="img-circle  avatar-300 photo" height="300" width="300">
                                        {% else %}
                                            <img alt="" src="/static/images/avatar.png" class="img-circle  avatar-300 photo" height="300" width="300">
                                        {% endif %}
                                        </a>
                                        <figcaption>
                                        <h3 class="text-center regular"><a href="{% url 'user_detail' object.pk %}">{{object.first_name}} {{object.last_name}}</a><small class="block">{{object.profile.post}}</small></h3>
                                        <p>{{ object.profile.preview|safe }}</p></figcaption>
                                    </div>
                                </li>
                            {% endfor %}

                        </ul>
                    </div>


                    {% if page_obj.has_other_pages %}
                    <div class="pagination pagination-small pagination-centered">
                        <ul>
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}"><i class="icon-angle-left"></i></a></li>
                        {% else %}
                            <li class="disabled"><a href="#"><i class="icon-angle-left"></i></a></li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% ifequal num page_obj.number %}
                                <li class="active"><a href="#">{{ num }}<span class="sr-only"></span></a></li>
                            {% else %}
                                <li><a href="?page={{ num }}">{{ num }}</a></li>
                            {% endifequal %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}"><i class="icon-angle-right"></i></a></li>
                        {% else %}
                            <li class="disabled"><a href="#"><i class="icon-angle-right"></i></a></li>
                        {% endif %}
                        <ul>
                    </div>
                    {% endif %}

                </div>
                    
        </div></section>

    </article>

{% endblock %}