{% load i18n %}

{% if entered %}
<script type="text/javascript">
window.location = "/";
</script>
{% else %}
<form class="ajax_form" method="POST" action="{% url "account_login" %}">{% csrf_token %}
<ul class="vhod">
    <li>
      {% if form.errors %}<p class="auth_eror">{% trans "Username or password are incorrect" %}<p>{% endif %}
      <p><label>{% trans "Username" %}</label>{{ form.username }}</p>
      <p><label>{% trans "Password" %}</label>{{ form.password }}</p>
      <p><a href="{% url "account_password_reset" %}" title="">{% trans "Forgot password?" %}</a><input name="" class="butons" value="Войти" type="submit" /></p>
      <a href="{% url "account_register" %}" class="rega" title="">{% trans "Registration" %}</a>
    </li>
</ul>
</form>
{% endif %}