{% extends "base.html" %}

{% block content %}

<section class="section section-padded section-alt ">
                <div class="container-fluid"><div class="section-header"><h1><span class="light">регистрация</span></h1></div>
                
                    <div class="row-fluid margin-top">
                        <div class="span4">
                            <span class="lead margin-top">
                                <p>Рыботекст, преимущества для зарегистрированных юзеров. Как получить инвайт. Рыботекст, преимущества для зарегистрированных юзеров. Как получить инвайт.</p>
                            </span>
                            <!-- skills section -->
                                                    <ul class="lead icons icons-small">
                                                            <li><i class="icon-ok"></i>Brochure design</li>
                                                            <li><i class="icon-ok"></i>Mobile app</li>
                                                            <li><i class="icon-ok"></i>Web design</li>
                                                    </ul>
                                            </div>
                        <div class="span8">
                            <div class="post-media">
                                            
                                    <div class="flex-viewport" style="overflow: hidden; position: relative; height: 420px;">
                                    
                                        <div class="contact-form span12 registration-form" id="contactForm" novalidate="">
                                            <div class="controls controls-row">
                                                <div class="control-group span6">
                                                    {{ user_form.username }}
                                                    <!--input type="text" name="your-name" value="" size="40" class="span12" placeholder="Имя пользователя"-->
                                                </div>
                                            </div>

                                            <div class="controls controls-row">
                                                <div class="control-group span6 error">
                                                   <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email span12" aria-required="true" aria-invalid="false" placeholder="E-mail"></span>
                                                   
                                                    <div class="tooltip fade right in" style="top: 57px; left: 373px; display: block;"><div class="tooltip-arrow"></div><div class="tooltip-inner">Обязательное поле</div></div>
                                                </div>
                                            <p></p></div>
                                            
                                            <div class="controls controls-row">
                                                <div class="control-group span6">
                                                   <span class="wpcf7-form-control-wrap your-email"><input type="text" name="invite" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email span12" aria-required="true" aria-invalid="false" placeholder="Номер члена клуба"></span>
                                                </div>
                                            <p></p></div>
                                            
                                            <div class="controls controls-row">
                                                <div class="control-group span6">
                                                   <span class="wpcf7-form-control-wrap your-email"><input type="text" name="invite" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email span12" aria-required="true" aria-invalid="false" placeholder="Имя"></span>
                                                </div>
                                            <p></p></div>
                                            
                                            <div class="controls controls-row">
                                                <div class="control-group span6">
                                                   <span class="wpcf7-form-control-wrap your-email"><input type="text" name="invite" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email span12" aria-required="true" aria-invalid="false" placeholder="Фамилия"></span>
                                                </div>
                                            <p></p></div>
                                            
                                            <div class="controls controls-row">
                                                <div class="control-group span12">
                                                    <input type="submit" value="Зарегистрироваться" class="wpcf7-form-control wpcf7-submit btn btn-primary"><img class="ajax-loader" src="/static/plugins/contact-form-7/images/ajax-loader.gif" alt="Регистрация..." style="visibility: hidden;">
                                                </div>
                                            <p></p></div>
                                        </div>
                                        
                                    </div>
                                            
                            </div>
                        </div>
                    </div>
                
                </div>
                </section>

{% endblock %}