<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Яндекс карта</title>
    <!--
        Подключаем API карт
        Параметры:
          - load=package.full - основные компоненты;
          - lang=ru-RU - язык русский.
        Если вы используете API локально, то в URL ресурса необходимо указывать протокол в стандартном виде (http://...)
    -->
    <script src="//api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>

<script type="text/javascript">

function getSearchParameters() {
      var prmstr = window.location.search.substr(1);
      return prmstr != null && prmstr != "" ? transformToAssocArray(prmstr) : {};
}

function transformToAssocArray( prmstr ) {
    var params = {};
    var prmarr = prmstr.split("&");
    for ( var i = 0; i < prmarr.length; i++) {
        var tmparr = prmarr[i].split("=");
        params[tmparr[0]] = tmparr[1];
    }
    return params;
}

var params = getSearchParameters();
var center = params.center.split(',').reverse();
var preview = decodeURI(params.preview);
var address = decodeURI(params.address);

var myMap;

// Дождёмся загрузки API и готовности DOM.
ymaps.ready(init);


function init () {
    // Создание экземпляра карты и его привязка к контейнеру с
    // заданным id ("map").
    myMap = new ymaps.Map('map', {
        // При инициализации карты обязательно нужно указать
        // её центр и коэффициент масштабирования.
        center:center,
        zoom:15
    });

    myMap.controls
        // Кнопка изменения масштаба.
        .add('zoomControl', { left: 5, top: 5 })
        // Список типов карты
        .add('typeSelector')
        // Стандартный набор кнопок
        .add('mapTools', { left: 35, top: 5 });

    var myPlacemark = new ymaps.Placemark(center, {
        // Чтобы балун и хинт открывались на метке, необходимо задать ей определенные свойства.
        balloonContentBody: address,
        hintContent: preview
    });

    myMap.geoObjects.add(myPlacemark);

}
</script>
</head>

<body>
    <div id="map" style="width:670px; height:350px"></div>
</body>

</html>