{% extends "base.html" %}

{% block content %}

<div class="row-fluid divider-line"></div>

<section class="section section-padded">
    <div class="container-fluid">
        <div class="row-fluid">
    
            <div class="span9">
                
            
                <article class=" post type-post status-publish format-standard hentry category-timeline row-fluid">
                    <div class="span2 post-info"></div>
                    <div class="span10 post-body lib-item">
                        <div class="post-head">
                            <h2 class="small-screen-center"><span class="regular">{{ flatpage.title|safe }}</span></h2>
                        </div>

                        <div class="entry-content">

                            {{ flatpage.content|safe }}

                            <p><a href="{% url 'index' %}" class="more-link blue-underline">На главную</a></p>
                        </div>
                    </div>
                </article>
                        
            </div>

        </div>
    </div>
</section>

{% include "sponsors.html" %}

{% endblock %}