{% extends "base.html" %}
{% load blog_extras thumbnail %}

{% block content %}
<div class="row-fluid divider-line"></div>
<section class="section section-padded">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span9">
                <article class="post type-post status-publish format-standard hentry category-timeline row-fluid blog-detail">
            <div class="span2 post-info">
                <div class="round-box box-small">
                    <a class="box-inner" href="#">
                    {% if object.user.profile.avatar %}
                        <img alt="" src="{% thumbnail object.user.profile.avatar 300x300 crop %}" class="img-circle  avatar-300 photo" height="300" width="300">
                    {% else %}
                        <img alt="" src="/static/images/avatar.png" class="img-circle  avatar-300 photo" height="300" width="300">
                    {% endif %}
                    </a>
                </div>
                <h5 class="text-center regular">{{ object.user.first_name }} {{ object.user.last_name }}</h5>
                <h5 class="text-center light">{{ object.date|date:"j M, Y" }}</h5>
            </div>
    <div class="span10 post-body blog-detail">
        <div class="post-head">
            <h2 class="small-screen-center regular">{{ object.title|safe }}</h2>
            <div class="post-extras">
                {% if not object.public %}
                    <i class="icon-lock"></i><a href="#">доступно только зарегистрированным пользователям</a>
                {% endif %}
                <i class="icon-comments"></i>
                <a href="#comments">комментарии ({{ object.active_comments.count }})</a>
            </div>
        </div>
        <div class="entry-content">
            {{ object.content|safe }}
        </div>
    </div>
</article>

    {% if object.active_comments.count > 0 %}
    <div class="comments" id="comments">
        <h3 class="small-screen-center regular">комментарии</h3>
            <div id="comment-list">
            {% for comment in object.active_comments %}
                <div class="comment byuser comment-author-christos bypostauthor even thread-even depth-1 media media-comment">
                    <div class="round-box box-mini pull-left">
                        <a class="box-inner" href="">
                            {% if comment.user.profile.avatar %}
                                <img alt="" src="{% thumbnail comment.user.profile.avatar 300x300 crop %}" class="img-circle  avatar-300 photo" height="300" width="300">
                            {% else %}
                                <img alt="" src="/static/images/avatar.png" class="img-circle  avatar-300 photo" height="300" width="300">
                            {% endif %}
                        </a>            
                    </div>
                    <div class="media-body">
                        <div class="media-inner">
                            <div class="comment byuser comment-author-christos bypostauthor odd alt thread-odd thread-alt depth-1" id="comment-{{ comment.pk }}">
                                <h5 class="media-heading regular">
                                    {{ comment.user.first_name }} {{ comment.user.last_name }} -
                                    {{ comment.date|date:"j M, Y" }}<span class="comment-reply pull-right"></span>
                                </h5>
                                <p>{{ comment.comment }}</p>
                            </div>
                        </div>
                    </div><!-- /media body -->
                </div><!-- /comment-->
            {% endfor %}
            
        </div><!-- /#comment-list -->
            
    </div>
    {% endif %}
                
                <div class="comments-form blog-detail" id="respond">
                <h3 id="reply-title" class="comment-form small-screen-center regular">Комментировать</h3>
                {% if not user.is_authenticated %}
                    <p>Пожалуйста, <a href="{% url 'account_login' %}" class="blue-underline">представьтесь</a>, чтобы оставить комментарий. </p>
                {% else %}
                    <form action="{{object.get_absolute_url}}#comments" method="post" id="commentform">
                        <fieldset>
                            {% csrf_token %}
                            <div class="control-group message"><div class="controls"><textarea id="comment" name="comment" placeholder="Ваш комментарий" class="input-xxlarge" rows="3"></textarea></div></div>                                                
                            <div class="control-group">
                                <div class="controls small-screen-center">
                                    <button name="submit" type="submit" class="btn btn-primary" id="submit" value="Add comment">Отправить</button>
                                    <input type="hidden" name="comment_post_ID" value="554" id="comment_post_ID">
                                <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                            </div>
                            </div>

                        </fieldset>
                    </form>
                {% endif %}
                </div><!-- #respond -->
                        
                            </div>

                            
            <aside class="span3 sidebar">
                {% latest_rec_list %}
                {% rec_archive %}
            </aside>

                            
        </div>
    </div>
</section>
{% endblock %}