{% extends "base.html" %}
{% load blog_extras thumbnail %}

{% block content %}
<div class="row-fluid divider-line"></div>
<section class="section section-padded">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span9">
                <article class="post type-post status-publish format-standard hentry category-timeline row-fluid blog-detail">
            <div class="span2 post-info">
                <div class="round-box box-small">
                    <a class="box-inner" href="#">
                    {% if object.user.profile.avatar %}
                        <img alt="" src="{% thumbnail object.user.profile.avatar 300x300 crop %}" class="img-circle  avatar-300 photo" height="300" width="300">
                    {% else %}
                        <img alt="" src="/static/images/avatar.png" class="img-circle  avatar-300 photo" height="300" width="300">
                    {% endif %}
                    </a>
                </div>
                <h5 class="text-center regular">{{ object.user.first_name }} {{ object.user.last_name }}</h5>
                <h5 class="text-center light">{{ object.date|date:"j M, Y" }}</h5>
            </div>
    <div class="span10 post-body blog-detail">
        <div class="post-head">
            <h2 class="small-screen-center regular">{{ object.title|safe }}</h2>
            <div class="post-extras">
                {% if not object.public %}
                    <i class="icon-lock"></i><a href="#">доступно только зарегистрированным пользователям</a>
                {% endif %}
                <i class="icon-comments"></i>
                <a href="#comments">комментарии ({{ object.active_comments.count }})</a>
            </div>
        </div>
        <div class="entry-content">
            {{ object.content|safe }}
        </div>
    </div>
</article>

    <div class="comments" id="comments">
        <h3 class="small-screen-center regular">комментарии</h3>
            <div id="comment-list">
            <div class="comment byuser comment-author-christos bypostauthor even thread-even depth-1 media media-comment">
                <div class="round-box box-mini pull-left">
                    <a class="box-inner" href="http://themes.oxygenna.com/smartbox/author/christos/"><img alt="" src="http://1.gravatar.com/avatar/9baf024db87b6346e2a66840270034c5?s=300&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D300&amp;r=G" class="img-circle  avatar-300 photo" height="300" width="300"></a>            </div>
                <div class="media-body">
                    <div class="media-inner">
                        <div class="comment byuser comment-author-christos bypostauthor odd alt thread-odd thread-alt depth-1" id="comment-5">
                            <h5 class="media-heading regular">
                                christos                            -
                                April 6, 2013                            <span class="comment-reply pull-right">
                                                                </span>
                            </h5>
                            <p>Pellentesque facilisis faucibus arcu, eu fermentum tortor convallis a. n libero, rutrum quis blandit sit amet, cursus sit amet mi</p>
                        </div>
                    </div>
        
                    <!--<ul class="children">-->
                
            <div class="comment byuser comment-author-langan even depth-2 media media-comment">
                <div class="round-box box-mini pull-left">
                    <a class="box-inner" href="http://themes.oxygenna.com/smartbox/author/langan/"><img alt="" src="http://1.gravatar.com/avatar/3e13d77b940b3228ec69f4b917b8c346?s=300&amp;d=http%3A%2F%2F1.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D300&amp;r=G" class="img-circle  avatar-300 photo" height="300" width="300"></a>            </div>
                <div class="media-body">
                    <div class="media-inner">
                        <div class="comment byuser comment-author-langan odd alt depth-2" id="comment-27">
                            <h5 class="media-heading regular">
                                langan                            -
                                April 19, 2013                            <span class="comment-reply pull-right">
                                                                </span>
                            </h5>
                            <p>am liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.</p>
                        </div>
                    </div>
        
                    </div><!-- /media body -->
            </div><!-- /comment-->
            
            <!--</ul>--><!-- /.children -->

                    </div><!-- /media body -->
            </div><!-- /comment-->
            
        </div><!-- /#comment-list -->
        
            
    </div>
                
                <div class="comments-form blog-detail" id="respond">
                <h3 id="reply-title" class="comment-form small-screen-center regular">Комментировать</h3>
                {% if not user.is_authenticated %}
                    <p>Пожалуйста, <a href="{% url 'account_login' %}" class="blue-underline">представьтесь</a>, чтобы оставить комментарий. </p>
                {% else %}
                    <form action="#" method="post" id="commentform">
                        <fieldset>
                            <!--div class="control-group"><div class="controls"><input id="author" name="author" placeholder="your name" type="text" class="input-xlarge" value=""></div></div>
                            <div class="control-group"><div class="controls"><input id="email" name="email" placeholder="your email address" type="text" class="input-xlarge" value=""></div></div-->

                            <div class="control-group message"><div class="controls"><textarea id="comment" name="comment" placeholder="Ваш комментарий" class="input-xxlarge" rows="3"></textarea></div></div>                                                <div class="control-group">
                            <div class="controls small-screen-center">
                                <button name="submit" type="submit" class="btn btn-primary" id="submit" value="Add comment">Отправить</button>
                                <input type="hidden" name="comment_post_ID" value="554" id="comment_post_ID">
<input type="hidden" name="comment_parent" id="comment_parent" value="0">
                            </div>
                        </div>


                                                </fieldset>
                    </form>
                {% endif %}
                </div><!-- #respond -->
                        
                            </div>

                            
<aside class="span3 sidebar">
    <div id="recent-posts-3" class="sidebar-widget  widget_recent_entries"><h3 class="sidebar-header regular">Последние записи</h3>
        <ul>
            <li>
                <div class="row-fluid">
                    <div class="span3">
                        <div class="round-box box-mini box-colored">
                            <a class="box-inner" href="http://themes.oxygenna.com/smartbox/2013/04/09/you-think-water-moves-fast-2/">
                            <img width="300" height="300" src="http://themes.oxygenna.com/smartbox/files/2013/04/landscape-7-1250x600-300x300.jpg" class="img-circle wp-post-image" alt="landscape-7-1250x600">                                </a>
                        </div>
                    </div>
                    <div class="span9">
                        <h4 class="regular">
                            <a href="http://themes.oxygenna.com/smartbox/2013/04/09/you-think-water-moves-fast-2/" title="Suspendisse in urna">Suspendisse in urna</a>
                        </h4>
                        <h5 class="light">
                            09 April 2013                            </h5>
                    </div>
                </div>
            </li>
            <li>
                <div class="row-fluid">
                    <div class="span3">
                        <div class="round-box box-mini box-colored">
                            <a class="box-inner" href="http://themes.oxygenna.com/smartbox/2013/04/08/nunc-vehicula-dapibus/">
                            <img width="300" height="300" src="http://themes.oxygenna.com/smartbox/files/2013/03/landscape-5-800x400-300x300.jpg" class="img-circle wp-post-image" alt="landscape-5-800x400"><i class="icon-picture"></i>                                </a>
                        </div>
                    </div>
                    <div class="span9">
                        <h4 class="regular">
                            <a href="http://themes.oxygenna.com/smartbox/2013/04/08/nunc-vehicula-dapibus/" title="Nunc vehicula dapibus">Nunc vehicula dapibus</a>
                        </h4>
                        <h5 class="light">
                            08 April 2013                            </h5>
                    </div>
                </div>
            </li>
        </ul>

            </div>

<div id="archives-3" class="sidebar-widget  widget_archive"><h3 class="sidebar-header regular">Архив</h3>        <ul>
            <li><h4><a href="http://themes.oxygenna.com/smartbox/2013/04/" class=" blue-underline">April 2013</a>&nbsp;(6)</h4></li>
    <li><h4><a href="http://themes.oxygenna.com/smartbox/2013/03/" class=" blue-underline">March 2013</a>&nbsp;(2)</h4></li>
    <li><h4><a href="http://themes.oxygenna.com/smartbox/2013/02/" class=" blue-underline">February 2013</a>&nbsp;(4)</h4></li>
    <li><h4><a href="http://themes.oxygenna.com/smartbox/2013/01/" class=" blue-underline">January 2013</a>&nbsp;(1)</h4></li>
        </ul>
</div></aside>
                            
                            
                    </div>
    </div>
</section>
{% endblock %}