{% extends "base.html" %}
{% load blog_extras thumbnail %}

{% block title %} | Блог{% endblock %}

{% block content %}
            <div class="row-fluid divider-line"></div>
            
            <!--section class="section section-alt">
                <div class="row-fluid">
                    <div class="super-hero-unit">
                        <figure>
                            <img alt="события" src="/static/cpoclub/img/header-bg-default-1250x152.png">
                            <figcaption class="flex-caption">
                                <h1 class="super animated fadeinup delayed">Блог</h1>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </section-->

<section class="section section-padded">
    <div class="container-fluid">
        <div class="row-fluid">

<div class="span9">

    {% for object in object_list %}
    <article id="post-385" class="post-385 post type-post status-publish format-standard sticky hentry category-blog category-timeline tag-boating tag-mountains tag-recreation tag-sports row-fluid">
            <div class="span2 post-info">
            <div class="round-box box-small"><a class="box-inner" href="{% url 'user_detail' object.user.pk %}">
                {% if object.user.profile.avatar %}
                    <img alt="" src="{% thumbnail object.user.profile.avatar 300x300 crop %}" class="img-circle  avatar-300 photo" height="300" width="300">
                {% else %}
                    <img alt="" src="/static/images/avatar.png" class="img-circle  avatar-300 photo" height="300" width="300">
                {% endif %}
            </a></div>
            <h5 class="text-center regular">
                {{ object.user.first_name }} {{ object.user.last_name }}
            </h5>
            <h5 class="text-center light">{{ object.date|date:"j M, Y" }}</h5>
        </div>
            <div class="span10 post-body blog-item">
                <div class="post-head">
                    <h2 class="small-screen-center">
                        <a href="{{object.get_absolute_url}}" title="{{ object.title|safe }}" rel="bookmark">
                            <span class="regular">{{ object.title|safe }}</span>
                        </a>
                    </h2>
                    
                    <div class="post-extras">
                        {% if not object.public %}
                            <i class="icon-lock"></i><a href="#">доступно только зарегистрированным пользователям</a>
                        {% endif %}
                        <i class="icon-comments"></i>
                        <a href="{{object.get_absolute_url}}#comments">комментарии ({{ object.active_comments.count }})</a>
                    </div>
                </div>
                <div class="entry-content">
                    <p>
                        {% if object.preview %}
                            {{ object.preview|safe }}
                        {% else %}
                            {{ object.content|truncatewords_html:45|safe}}
                        {% endif %}
                    </p>
                    <p>
                        {% if object.public %}
                            <a href="{{object.get_absolute_url}}" class="more-link blue-underline">Подробнее</a>
                        {% elif user.is_authenticated %}
                            <a href="{{object.get_absolute_url}}" class="more-link blue-underline">Подробнее</a>
                        {% else %}
                            <a href="{% url 'account_login' %}" class="more-link blue-underline">Пожалуйста, представьтесь</a>
                        {% endif %}
                    </p>
                </div>
            </div>
    </article>
    {% endfor %}


    {% if page_obj.has_other_pages %}
    <div class="pagination pagination-small pagination-centered">
        <ul>
        {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}&month={{request.GET.month}}&year={{request.GET.year}}"><i class="icon-angle-left"></i></a></li>
        {% else %}
            <li class="disabled"><a href="#"><i class="icon-angle-left"></i></a></li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% ifequal num page_obj.number %}
                <li class="active"><a href="#">{{ num }}<span class="sr-only"></span></a></li>
            {% else %}
                <li><a href="?page={{ num }}&month={{request.GET.month}}&year={{request.GET.year}}">{{ num }}</a></li>
            {% endifequal %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}&month={{request.GET.month}}&year={{request.GET.year}}"><i class="icon-angle-right"></i></a></li>
        {% else %}
            <li class="disabled"><a href="#"><i class="icon-angle-right"></i></a></li>
        {% endif %}
        <ul>
    </div>
    {% endif %}

    
</div>

    <aside class="span3 sidebar">

        {% latest_rec_list %}

        {% rec_archive %}

    </aside>
    
        </div>
    </div>
</section>
            
{% endblock %}